<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<!-- font -->
<link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
<!-- font -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href='style.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="scripts.js"></script>

  <!-- <div class="loading" >
    ABOUT PROF <span class="circle" style="animation:keycolor 10s infinite"></span>
  </div> -->
    <div class="container-fluid content-box">
        <div class="blank"></div>
        <div class="row content-box1">
          <div class="col-sm logo" name="Ocolor" id="Ocolor">About<br>Prof <span class="circle" style="animation:keycolor 10s infinite"></span></div>
          <div class="col-sm"></div>
          <div class="col-sm explain">You can search Prof's<br><span style="font-weight:700;color:black;"name="Fcolor" ID="Fcolor">Research field</span> in UNIST</div>
        </div>
        <div class="text-center info">
          <span name="Ccolor" ID="Ccolor"> I am Interested in </span> <span class="search-box" name="Ecolor" ID="Ecolor"><input type="text" placeholder="search" name="search" style="-webkit-appearance:none;"/><span name="Dcolor" ID="Dcolor">.</span></span>
        </div>
        <div class="row content-box2">
          <!-- <div class="col-sm checkbox"><span style="font-family:'Poppins', sans-serif; font-weight:400;font-size:15px;"><span id="prof" herf="#" class="prof" style="background:transparent; border:0;">Prof</span><span style="font-weight:400; color:gray;"> | </span><sapn id="keyword" herf="#" class="keyword">Keywords</span></span></div> -->
          <div class="col-sm checkbox">
            <span style="font-family:'Poppins', sans-serif; font-weight:400;font-size:15px;">
              <input type="button" value="Prof" onclick="start()" class="prof" style="font-family:'Poppins', sans-serif; font-weight:400;font-size:15px;"/>
            </span>
            <span style="font-weight:400; color:gray;"> |
            </span>
            <span><input type="button" value="Keywords" onclick="end()"  class="keywords" style="font-family:'Poppins', sans-serif; font-weight:400;font-size:15px;"/>
            </span>
          </div>

          <div class="col-sm"></div>
          <div class="col-sm about">
            <span style="font-family:'Poppins', sans-serif; font-weight:400;font-size:20px;color:#686a6b;">About<span style="color:#f6c431;font-family:'Poppins', sans-serif; font-weight:800; font-size:20px;animation:keycolor-dot 10s infinite">.</span>
            <span style="font-family:'Poppins', sans-serif; font-weight:800;"name="Ucolor" ID="Ucolor" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">us</span>
          </div>
        </div>
      </div>
      <!-- popup -->
      <div id="light" class="white_content" ><p style="padding-top:7%;">Friends with DDoFuck</p>
        <div class="intro">This is service of categorizing research field of prof. in UNIST</div>
        <div class="intro-content">
          <div class="row">
            <div class="col">
              <span class="circle-sns"></span>
              <a>School of Natural Science</a>
            </div>
            <div class="col">
              <span class="circle-dhe"></span>
              <a>School of Design and Human Engineering</a>
            </div>
            <div class="col">
              <span class="circle-sls"></span>
              <a>School of Life Sciences</a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <span class="circle-ece"></span>
              <a>Electrical and Computer Engineering</a>
            </div>
            <div class="col">
              <span class="circle-uee"></span>
              <a>Urban and Environmental Engineering</a>
            </div>
            <div class="col">
              <span class="circle-eche"></span>
              <a>Energy and Chemical Engineering</a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <span class="circle-ba"></span>
              <a>Business Adminstration</a>
            </div>
            <div class="col">
              <span class="circle-me"></span>
              <a>Management Engineering</a>
            </div>
            <div class="col">
              <span class="circle-mame"></span>
              <a>Mechanical Aerospace and Nuclear Engineering</a>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="popup-close" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';" >Close</a>
      </div>
      <div id="fade" class="black_overlay"></div>
      <!-- popup -->
</html>
