<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<!-- font -->
<link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
<!-- font -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<link href='style-info.css' rel='stylesheet' type='text/css'>
  <div class="">
    <div class="container-fluid content-box-info">
      <div class="in-navbar">
        A<span class="circle" style="animation:keycolor 10s infinite"></span>Prof
        <button type="button" class="close-button" style="font-weight:400;float:right;background-color:transparent;border:0;color:black;">X</button>
      </div>
        <div class="prof-content">
          <div class="row prof-content1">
            <div class="col-4 image"><img class="prof-image" src="1.jpg"><span class="circle-img" style="animation:keycolor 10s infinite"></span></div>
            <div class="col-8 prof-main-content" style="padding:20px;">
              <div class="author">
                <a class="categoize" style="color:#878787;">Author <span class="circle-dot"></span></a>
                <p style="font-size: 2em;">NAME LEE</p>
              </div>
              <div class="departments">
                <a class="categoize" style="color:#878787;">Departments <span class="circle-dot"></span></a>
                <p class="detail-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos maxime autem </p>
              </div>
              <div class="lab-site">
                <a class="categoize" style="color:#878787;">Lab Site <span class="circle-dot"></span></a>
                <p class="detail-a detail-site">www.about-prof.com</p>
              </div>
            </div>
          </div>

          <div class="row prof-content2">
          <div class="prof-content3">
            <div class="source-title">
              <a class="categoize" style="color:#878787;">Source title <span class="circle-dot"></span></a>
              <p class="detail-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos maxime autem </p>
            </div>
            <div class="document-graph">
              <a class="categoize" style="color:#878787;">Document and citation trends <span class="circle-dot"></span></a>
            </div>
          </div>
        </div>
        <!-- <div classs="in-footer">
        </div> -->
    </div>

    <div class="graph">
      <div class="research-field">
        <a class="categoize" style="color:#878787;">Related connection of research field <span class="circle-dot"></span></a>
        <!-- <img class="data-image" src="2.jpg"> -->
      </div>
    </div>
</html>



<!-- https://gist.github.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59 -->
